@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Imperial+Script&family=Ruda:wght@400..900&display=swap');


*{
    color: #333333;
}
.main-header {
    font-family: 'Imperial Script', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 200px;
    color: #333333;
}

.red-info dt{
    font-family: 'Crimsom Pro';
    font-variant-caps: small-caps;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1.75em;  
    margin-top: 0.5em;
    
}
.red-info dd{
    margin: 0;
    font-family: 'Crimsom Pro';
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1.75em;    
    margin-bottom: 0.3em;
}

h2 {
    font-family: 'Ruda';
    text-align: right;
    font-weight: normal;
    font-size: 50px;
    border-bottom: solid #333333;
}

section h3 {
    font-family: 'Crimson Pro', sans-serif;
    font-weight: bold;
    font-size: 2.3em;
}

section p,
li {
    font-family: 'Crimson Pro', sans-serif;
    font-size: 1.9em;
    margin-left: 1em;
}

.beige-square {
    background-color: #f7ede2;
    width: 60em;
    max-width: 100%;
    padding: 25px;
    margin: 0 auto;
}

.red-info {
    background-color: #f5cac3;
    padding-bottom: 0.5em;
    padding-left: 25px;
    border: dashed #f28482;    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 10px solid #f28482;  
    
}

li{
    margin-left:0;
    margin-bottom:0.8em;
   
}
.highlight{
    color: #84a59d;
    font-weight: bolder;
}
